<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Count</title>
  </head>
  <body>
    <h2>Count</h2>
    <style>
    body { background: green; color: white; }
    </style>
    <form action="/increment" method="post">
      <input type="submit" value="   + 1  ">
    </form>
    <form action="/decrement" method="post">
      <input type="submit" value="   - 1   ">
    </form>
      <div id="count"><%= @counter.count %></div>
    </form>
      <form action="/reset" method="post">
      <input type="submit" value="Reset">
    </form>
      <div id="update"><%= @counter.update %></div>
    </form>
  </body>
</html>
